Source: docker-setup
Maintainer: Louis Royer <louis.royer@irit.fr> 
Uploaders: Louis Royer <louis.royer@irit.fr>
Section: golang
Testsuite: autopkgtest-pkg-go
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-golang,
               golang-any
Standards-Version: 4.5.0
Vcs-Browser: https://github.com/louisroyer-deb/docker-setup
Vcs-Git: https://github.com/louisroyer-deb/docker-setup.git
Homepage: https://github.com/louisroyer/docker-setup
Rules-Requires-Root: no
XS-Go-Import-Path: github.com/louisroyer/docker-setup

Package: docker-setup
Architecture: any
Depends: iproute2,
         iptables,
         ${misc:Depends},
         ${shlibs:Depends}
Built-Using: ${misc:Built-Using}
Description: Docker container configuration (library)
 Docker-setup Docker-setup is a program that allow configure a container
 (for networking) via environment variables.
